body
{
    font-family: Avenir;

    margin: 0;
    padding: 0;
}
.container
{
    width: 100vw;
    height: 100vh;
}
header
{
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    position: relative;

    color: white;
    background-color: #9b9b8c;
}
.header-text {
  width: 70%;
  position: absolute;
  bottom: 0px;
  left: 50px;
  font-size: 20px;
}
main
{
    display: block;

    height: 90%;
}
.left
{
    position: relative;

    float: left;

    width: 50%;
    height: 100%;

    background-color: #eee;
}
.right
{
    position: relative;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;
}
.album_list
{
    height: 100%;

    opacity: .19;
    background: url('resources/track.jpg');
    background-size: cover;
}
img
{
    height: 180px;
}

#album1
{
    position: absolute;
    top: 10%;
    left: 40%;
}
#album2
{
    position: absolute;
    top: 40%;
    left: 40%;
}
#album3
{
    position: absolute;
    top: 70%;
    left: 40%;
}
footer
{
    font-size: 1.1em;

    position: fixed;
    bottom: 0;

    width: 100%;
    height: 5%;

    color: white;
    background-color: #686859;
}
.footer_text
{
    font-size: 1.1em;

    position: absolute;
    left: 75px;

    width: 200px;

    text-align: center;
}
.trackbin
{
    position: absolute;
    top: 40%;
    left: 35%;

    width: 200px;
    height: 100px;
    margin: 0 auto;
}
.trackbin-text
{
    font-size: 50px;

    color: #490063;
}
button
{
    font-size: 25px;

    width: 180px;

    color: white;
    border-radius: 5px;
    background-color: #353526;
}
button:hover
{
    background-color: #9b9b8c;
}

/*
ADDITIONAL STYLING FOR PLAYLIST.HTML
*/
#thumbnails
{
    position: relative;

    width: 50%;
    height: 28%;
    margin: 40px auto;
    white-space: nowrap;
    overflow-x: scroll;

}
.thumbnails
{
    display: inline-block;

    margin: 0px 10px;

}

.text {
  width: 40%;
  height: 30%;
  border: 1px solid black;
  margin: 0px auto;
  font-size: 22px;
  overflow: auto;
}

.button-row {
  width: 25%;
  margin: 0px auto;
}




@font-face
{
    font-family: Avenir;

    src: 'fonts/AvenirNextLTPro-Regular.otf';
}
